Repository vdeantoni/blessed: changes, and which Codecov flags are due for each by the changed paths.
All: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

codecov.yml:

# Codecov configuration for monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/__tests__/**"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "tools/**"
  - "scripts/**"
  - "apps/docs/**"

# Component paths for better organization
component_management:
  individual_components:
    - component_id: core
      name: "@unblessed/core"
      paths:
        - packages/core/**
    - component_id: node
      name: "@unblessed/node"
      paths:
        - packages/node/**
    - component_id: browser
      name: "@unblessed/browser"
      paths:
        - packages/browser/**
    - component_id: blessed
      name: "@unblessed/blessed"
      paths:
        - packages/blessed/**
    - component_id: vrt
      name: "@unblessed/vrt"
      paths:
        - packages/vrt/**

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false

feat(docs): add Algolia DocSearch with wide, centered search box
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/src/css/custom.css
  pnpm-lock.yaml
Due: none

docs: adjust logo
  apps/docs/static/img/favicon.svg
  apps/docs/static/img/logo-dark.svg
  apps/docs/static/img/logo.svg
Due: none

fix(ci): configure Codecov for monorepo with disabled coverage collection
  codecov.yml
  packages/blessed/package.json
  packages/blessed/vitest.config.ts
  packages/browser/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/node/package.json
  packages/node/vitest.config.ts
  packages/vrt/vitest.config.ts
Due: @unblessed/core, @unblessed/node, @unblessed/blessed

feat(core): add Static and Dialog widgets with enhanced Log and Textbox
  apps/docs/docs/api/generated/README.md
  apps/docs/docs/api/generated/widgets.box.Class.Box.md
  apps/docs/docs/api/generated/widgets.dialog.Class.Dialog.md
  apps/docs/docs/api/generated/widgets.dialog.md
  apps/docs/docs/api/generated/widgets.static.Class.Static.md
  apps/docs/docs/api/generated/widgets.static.md
  apps/docs/docs/api/generated/widgets.textbox.Class.Textbox.md
  packages/core/__tests__/widgets/dialog.test.js
  packages/core/__tests__/widgets/log.test.js
  packages/core/__tests__/widgets/static.test.js
  packages/core/__tests__/widgets/textbox.test.js
  packages/core/src/index.ts
  packages/core/src/types/options.ts
  packages/core/src/widgets/dialog.ts
  packages/core/src/widgets/log.ts
  packages/core/src/widgets/static.ts
  packages/core/src/widgets/textbox.ts
  packages/node/examples/README.md
  packages/node/examples/dashboard.ts
  packages/node/examples/dialog.ts
  packages/node/examples/form-submit.ts
  packages/node/examples/hello-world.ts
  packages/node/examples/interactive.ts
  packages/node/examples/log-widget.ts
  packages/node/examples/static-widget.ts
Due: @unblessed/core, @unblessed/node

fix(ci): removed test:coverage from release action
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  d6bf73ca6d3b70497478c0ba03dcb8eb3a5c0fb1
Due: none

chore(release): 1.0.0-alpha.8
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/node/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

Notes added by 'git notes add'
  b4cbd9ac7eaa0a3b647039da5c48682a00b7835a
Due: none

docs(sidebar): add all missing widgets organized by category
  apps/docs/sidebars.ts
  apps/docs/src/components/LiveDemo/index.tsx
Due: none

docs(search): fixed positioning
  apps/docs/src/css/custom.css
Due: none

feat(core): add enhanced border styling with per-side colors and addressable borders
  PLAN.md
  packages/core/__tests__/lib/border-colors.test.js
  packages/core/__tests__/widgets/element.test.js
  packages/core/src/index.ts
  packages/core/src/lib/border-colors.ts
  packages/core/src/types/common.ts
  packages/core/src/widgets/element.ts
  packages/node/examples/border-animation-breathing.ts
  packages/node/examples/border-animation-chase.ts
  packages/node/examples/border-animation-rainbow.ts
  packages/node/examples/border-debug.ts
  packages/node/examples/border-named-colors.ts
  packages/node/examples/border-showcase.ts
  packages/node/examples/border-simple-test.ts
Due: @unblessed/core, @unblessed/node

style(core): apply prettier formatting to border code
  packages/core/src/lib/border-colors.ts
  packages/core/src/widgets/element.ts
Due: @unblessed/core

chore: using pnpm format:check for pre-commit hook
  .husky/pre-commit
Due: none

chore: format example files
  packages/node/examples/border-animation-breathing.ts
  packages/node/examples/border-animation-chase.ts
  packages/node/examples/border-animation-rainbow.ts
  packages/node/examples/border-debug.ts
  packages/node/examples/border-showcase.ts
  packages/node/examples/border-simple-test.ts
  packages/node/examples/dialog.ts
  packages/node/examples/log-widget.ts
  packages/node/examples/static-widget.ts
Due: @unblessed/node

docs: update docs
  apps/docs/docs/api/generated/widgets.ansiimage.Class.ANSIImage.md
  apps/docs/docs/api/generated/widgets.bigtext.Class.BigText.md
  apps/docs/docs/api/generated/widgets.box.Class.Box.md
  apps/docs/docs/api/generated/widgets.button.Class.Button.md
  apps/docs/docs/api/generated/widgets.checkbox.Class.Checkbox.md
  apps/docs/docs/api/generated/widgets.dialog.Class.Dialog.md
  apps/docs/docs/api/generated/widgets.element.Class.Element.md
  apps/docs/docs/api/generated/widgets.filemanager.Class.FileManager.md
  apps/docs/docs/api/generated/widgets.form.Class.Form.md
  apps/docs/docs/api/generated/widgets.image.Class.Image.md
  apps/docs/docs/api/generated/widgets.input.Class.Input.md
  apps/docs/docs/api/generated/widgets.layout.Class.Layout.md
  apps/docs/docs/api/generated/widgets.line.Class.Line.md
  apps/docs/docs/api/generated/widgets.list.Class.List.md
  apps/docs/docs/api/generated/widgets.listbar.Class.Listbar.md
  apps/docs/docs/api/generated/widgets.listtable.Class.ListTable.md
  apps/docs/docs/api/generated/widgets.loading.Class.Loading.md
  apps/docs/docs/api/generated/widgets.log.Class.Log.md
  apps/docs/docs/api/generated/widgets.message.Class.Message.md
  apps/docs/docs/api/generated/widgets.overlayimage.Class.OverlayImage.md
  apps/docs/docs/api/generated/widgets.progressbar.Class.ProgressBar.md
  apps/docs/docs/api/generated/widgets.prompt.Class.Prompt.md
  apps/docs/docs/api/generated/widgets.question.Class.Question.md
  apps/docs/docs/api/generated/widgets.radiobutton.Class.RadioButton.md
  apps/docs/docs/api/generated/widgets.radioset.Class.RadioSet.md
  apps/docs/docs/api/generated/widgets.scrollablebox.Class.ScrollableBox.md
  apps/docs/docs/api/generated/widgets.scrollabletext.Class.ScrollableText.md
  apps/docs/docs/api/generated/widgets.static.Class.Static.md
  apps/docs/docs/api/generated/widgets.table.Class.Table.md
  apps/docs/docs/api/generated/widgets.terminal.Class.Terminal.md
  apps/docs/docs/api/generated/widgets.text.Class.Text.md
  apps/docs/docs/api/generated/widgets.textarea.Class.Textarea.md
  apps/docs/docs/api/generated/widgets.textbox.Class.Textbox.md
  apps/docs/docs/api/generated/widgets.video.Class.Video.md
Due: none

fix(core): adjusted label style type
  packages/core/src/types/style.ts
Due: @unblessed/core

chore(release): 1.0.0-alpha.9
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/node/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

Notes added by 'git notes add'
  67420acb6d507f6404669e20a7ac336d8e02f158
Due: none

chore: cleanup old strings and files
  CONTRIBUTING.md
  RELEASE.md
  packages/browser/examples/playground/index.html
  packages/browser/examples/playground/package-lock.json
  packages/browser/examples/playground/package.json
  packages/browser/examples/playground/playground.js
  packages/browser/playwright.config.ts
  packages/browser/src/runtime/auto-init.ts
Due: @unblessed/browser

feat(core): improve runtime api types
  package.json
  packages/blessed/package.json
  packages/browser/package.json
  packages/browser/src/polyfills/fs.ts
  packages/browser/src/runtime/browser-runtime.ts
  packages/core/__tests__/helpers/mock.js
  packages/core/package.json
  packages/core/src/lib/event-emitter-base.ts
  packages/core/src/lib/keys.ts
  packages/core/src/lib/program.ts
  packages/core/src/runtime.ts
  packages/core/src/widgets/log.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/vrt/__tests__/setup.ts
  packages/vrt/package.json
  pnpm-lock.yaml
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

fix(docs): adjusted live demo
  apps/docs/src/components/LiveDemo/data/examples.ts
  apps/docs/src/components/LiveDemo/hooks/useCodeExecution.ts
  apps/docs/src/components/LiveDemo/styles.css
  turbo.json
Due: none

feat(core): add support for dim text attribute
  CHANGELOG.md
  TODO.md
  packages/blessed/.prettierignore
  packages/browser/.prettierignore
  packages/core/.prettierignore
  packages/core/__tests__/lib/program.test.js
  packages/core/__tests__/widgets/element.test.js
  packages/core/__tests__/widgets/screen.test.js
  packages/core/src/lib/program.ts
  packages/core/src/types/style.ts
  packages/core/src/widgets/element.ts
  packages/core/src/widgets/screen.ts
  packages/node/.prettierignore
  packages/vrt/.prettierignore
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

refactor(core): replace border dim color blending with dim attribute flag
  packages/core/__tests__/widgets/element.test.js
  packages/core/src/widgets/element.ts
Due: @unblessed/core

chore(docs): updated api docs
  apps/docs/docs/api/generated/widgets.ansiimage.Class.ANSIImage.md
  apps/docs/docs/api/generated/widgets.bigtext.Class.BigText.md
  apps/docs/docs/api/generated/widgets.box.Class.Box.md
  apps/docs/docs/api/generated/widgets.button.Class.Button.md
  apps/docs/docs/api/generated/widgets.checkbox.Class.Checkbox.md
  apps/docs/docs/api/generated/widgets.dialog.Class.Dialog.md
  apps/docs/docs/api/generated/widgets.element.Class.Element.md
  apps/docs/docs/api/generated/widgets.filemanager.Class.FileManager.md
  apps/docs/docs/api/generated/widgets.form.Class.Form.md
  apps/docs/docs/api/generated/widgets.image.Class.Image.md
  apps/docs/docs/api/generated/widgets.input.Class.Input.md
  apps/docs/docs/api/generated/widgets.layout.Class.Layout.md
  apps/docs/docs/api/generated/widgets.line.Class.Line.md
  apps/docs/docs/api/generated/widgets.list.Class.List.md
  apps/docs/docs/api/generated/widgets.listbar.Class.Listbar.md
  apps/docs/docs/api/generated/widgets.listtable.Class.ListTable.md
  apps/docs/docs/api/generated/widgets.loading.Class.Loading.md
  apps/docs/docs/api/generated/widgets.log.Class.Log.md
  apps/docs/docs/api/generated/widgets.message.Class.Message.md
  apps/docs/docs/api/generated/widgets.overlayimage.Class.OverlayImage.md
  apps/docs/docs/api/generated/widgets.progressbar.Class.ProgressBar.md
  apps/docs/docs/api/generated/widgets.prompt.Class.Prompt.md
  apps/docs/docs/api/generated/widgets.question.Class.Question.md
  apps/docs/docs/api/generated/widgets.radiobutton.Class.RadioButton.md
  apps/docs/docs/api/generated/widgets.radioset.Class.RadioSet.md
  apps/docs/docs/api/generated/widgets.scrollablebox.Class.ScrollableBox.md
  apps/docs/docs/api/generated/widgets.scrollabletext.Class.ScrollableText.md
  apps/docs/docs/api/generated/widgets.static.Class.Static.md
  apps/docs/docs/api/generated/widgets.table.Class.Table.md
  apps/docs/docs/api/generated/widgets.terminal.Class.Terminal.md
  apps/docs/docs/api/generated/widgets.text.Class.Text.md
  apps/docs/docs/api/generated/widgets.textarea.Class.Textarea.md
  apps/docs/docs/api/generated/widgets.textbox.Class.Textbox.md
  apps/docs/docs/api/generated/widgets.video.Class.Video.md
Due: none

chore: updated lock file
  pnpm-lock.yaml
Due: none

chore(release): 1.0.0-alpha.10
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/node/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

Notes added by 'git notes add'
  fd9589cacbba59f6e1b6828552d2cd8c2a6ff954
Due: none

docs: enhance documentation for public release
  apps/docs/docs/advanced/testing.md
  apps/docs/docs/advanced/troubleshooting.md
  apps/docs/docs/concepts/architecture.md
  apps/docs/docs/examples/getting-started/dashboard.md
  apps/docs/docs/examples/getting-started/interactive-list.md
  apps/docs/docs/examples/index.md
  apps/docs/docs/faq.md
  apps/docs/docs/getting-started/migration-from-blessed.md
  apps/docs/docs/getting-started/quick-start.md
  apps/docs/docs/platforms/browser.md
  apps/docs/docs/platforms/differences.md
  apps/docs/docs/platforms/nodejs.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/css/custom.css
  apps/docs/src/theme/PwaReloadPopup/index.tsx
  apps/docs/src/theme/PwaReloadPopup/styles.css
  apps/docs/static/manifest.json
  pnpm-lock.yaml
Due: none

docs: add SEO, diagrams, and key pages for production readiness
  apps/docs/docs/api/index.md
  apps/docs/docs/changelog.md
  apps/docs/docs/concepts/runtime-system.md
  apps/docs/docs/concepts/widgets.md
  apps/docs/docusaurus.config.ts
  apps/docs/src/pages/404.tsx
  apps/docs/static/img/social-card-placeholder.txt
  apps/docs/static/img/social-card.png
Due: none

fix(docs): fix 404 page by moving to theme and adding Link import
  apps/docs/docs/api/index.md
  apps/docs/docs/changelog.md
  apps/docs/docusaurus.config.ts
  apps/docs/src/theme/NotFound.tsx
Due: none

chore(release): 1.0.0-alpha.11
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/node/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

Notes added by 'git notes add'
  e1a767219652f259de2eb7eb1a31e3f6660f01a2
Due: none

feat(core): add border styles support (single, double, round, bold, etc.)
  .husky/pre-commit
  apps/docs/src/components/LiveDemo/data/examples.ts
  packages/browser/__tests__/e2e/display.spec.ts
  packages/browser/__tests__/e2e/fixtures/border-styles-showcase.html
  packages/browser/eslint.config.js
  packages/core/__tests__/lib/border-styles.test.js
  packages/core/src/index.ts
  packages/core/src/lib/border-styles.ts
  packages/core/src/types/common.ts
  packages/core/src/widgets/element.ts
  packages/node/__tests__/vrt/border-styles.test.ts
  packages/node/__tests__/vrt/fixtures/border-bold-variations.vrt.json
  packages/node/__tests__/vrt/fixtures/border-classic.vrt.json
  packages/node/__tests__/vrt/fixtures/border-double-variations.vrt.json
  packages/node/__tests__/vrt/fixtures/border-per-side-colors.vrt.json
  packages/node/__tests__/vrt/fixtures/border-round-variations.vrt.json
  packages/node/__tests__/vrt/fixtures/border-styles-showcase.vrt.json
Due: @unblessed/core

chore(docs): add ESLint configuration
  apps/docs/eslint.config.js
Due: none

fix(core): resolve emoji rendering issues in XTerm.js
  packages/browser/src/adapters/xterm-adapter.ts
  packages/core/src/widgets/element.ts
  packages/core/src/widgets/screen.ts
  packages/node/examples/hello-world.ts
Due: @unblessed/core, @unblessed/node, @unblessed/browser
