Repository vdeantoni/blessed: changes, and which Codecov flags are due for each by the changed paths.
All: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

codecov.yml:

# Codecov configuration for monorepo
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/__tests__/**"
  - "**/*.test.ts"
  - "**/*.test.js"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "tools/**"
  - "scripts/**"
  - "apps/docs/**"

# Component paths for better organization
component_management:
  individual_components:
    - component_id: core
      name: "@unblessed/core"
      paths:
        - packages/core/**
    - component_id: node
      name: "@unblessed/node"
      paths:
        - packages/node/**
    - component_id: browser
      name: "@unblessed/browser"
      paths:
        - packages/browser/**
    - component_id: blessed
      name: "@unblessed/blessed"
      paths:
        - packages/blessed/**
    - component_id: vrt
      name: "@unblessed/vrt"
      paths:
        - packages/vrt/**

comment:
  layout: "reach,diff,flags,components"
  behavior: default
  require_changes: false

docs(node): add "Why This Package Exists" section to README
  apps/docs/src/components/LiveDemo/data/examples.ts
  packages/node/README.md
Due: @unblessed/node

docs: update documentation for alpha.10 release
  CLAUDE.md
  README.md
  packages/blessed/package.json
  packages/browser/CLAUDE.md
  packages/core/package.json
  packages/node/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed

feat(layout): add @unblessed/layout package with Yoga integration
  PLAN.md
  packages/layout/.prettierignore
  packages/layout/CLAUDE.md
  packages/layout/README.md
  packages/layout/__tests__/integration.test.ts
  packages/layout/__tests__/layout-engine.test.ts
  packages/layout/__tests__/setup.js
  packages/layout/__tests__/widget-sync.test.ts
  packages/layout/__tests__/yoga-node.test.ts
  packages/layout/eslint.config.js
  packages/layout/package.json
  packages/layout/src/index.ts
  packages/layout/src/layout-engine.ts
  packages/layout/src/types.ts
  packages/layout/src/widget-sync.ts
  packages/layout/src/yoga-node.ts
  packages/layout/tsconfig.json
  packages/layout/tsup.config.ts
  packages/layout/vitest.config.ts
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  bffd8edd9e62086f88f90217ca79eee1de22f443
Due: none

chore(release): 1.0.0-alpha.12
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/layout/package.json
  packages/node/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

feat(react): add @unblessed/react package with React reconciler
  packages/layout/CLAUDE.md
  packages/layout/__tests__/widget-sync.test.ts
  packages/layout/examples/yoga.ts
  packages/layout/src/layout-engine.ts
  packages/layout/src/types.ts
  packages/layout/src/widget-sync.ts
  packages/layout/src/yoga-node.ts
  packages/node/README.md
  packages/react/.prettierignore
  packages/react/CLAUDE.md
  packages/react/README.md
  packages/react/__tests__/render.test.tsx
  packages/react/__tests__/setup.ts
  packages/react/eslint.config.js
  packages/react/examples/hello-react.tsx
  packages/react/package.json
  packages/react/src/components/Box.tsx
  packages/react/src/components/Spacer.tsx
  packages/react/src/components/Text.tsx
  packages/react/src/dom.ts
  packages/react/src/index.ts
  packages/react/src/jsx.d.ts
  packages/react/src/reconciler.ts
  packages/react/src/render.ts
  packages/react/src/types.ts
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: @unblessed/node

chore(release): 1.0.0-alpha.13
  CHANGELOG.md
  packages/blessed/package.json
  packages/browser/package.json
  packages/core/package.json
  packages/layout/package.json
  packages/node/package.json
  packages/react/package.json
  packages/vrt/package.json
Due: @unblessed/core, @unblessed/node, @unblessed/browser, @unblessed/blessed, @unblessed/vrt

Notes added by 'git notes add'
  cc1e29f02d079573db2db414d793b0e997c1e525
Due: none

Notes added by 'git notes add'
  87210151e6c9605cff431eab9cb041b854d1f7f4
Due: none

Notes added by 'git notes add'
  d68dcf6e4cb833a1fe6e902e38184a593a51749a
Due: none
